html
{
    background-color: #001e2d;
    font-family: sans-serif;
}
body
{
    width: 80%;
    margin: 0px auto;
    padding: 2em;
    background-color: white;
}

h2
{
    margin-top: 2em;
    border-bottom: 1px dotted #d3d3d3;
}
h2:target
{
    background-color: #aaa;
}

#test-form label
{
    float: left;
    clear: left;
    width: 200px;
}

#footer p
{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #d3d3d3;
    display: block;
    text-align: right;
}